package {{.graphqlPackageName}}

import (
 "github.com/graphql-go/graphql"
 "gorm.io/gorm"
)

func newQuery(db *gorm.DB) *graphql.Object {
 return graphql.NewObject(graphql.ObjectConfig{
  Name: "Query",
  Fields: graphql.Fields{
   {{range $tableName, $codeInfo := .tableInfos}}
   "{{$codeInfo.StructName}}": New{{$codeInfo.StructName}}(db),
   {{end}}
  },
 })
}