package {{.graphqlPackageName}}

import (
 gql "{{.graphqlFQPN}}"
 "github.com/graphql-go/graphql"
 "gorm.io/gorm"
)

func newQuery(db *gorm.DB) *graphql.Object {
 return graphql.NewObject(graphql.ObjectConfig{
  Name: "Query",
  Fields: graphql.Fields{
   "Users": gql.NewUsers(db),
  },
 })
}